$font: 'Dancing Script', cursive;
$primary-background: #F4F4F4;
// $accent-color: #4EE1A0;
// $secondary-background: #242424;
$primary-text: #433B38;
// $secondary-text: #D9D9D9;
// $error-color: #FF6F5B;


